<div class="footer hidden-sm-down">
    <div class="container">
        <div class="col-lg-3 col-md-3  footer-line">
            {#<img src="{{ asset('recource/nst-logo.png') }}">#}
            <h6>
                ҮНДСЭН ЦЭСНҮҮД
            </h6>
            <ul>
                <li><a href="{{ path('projects') }}">Төслүүд</a></li>
                <li><a href="{{ path('advice') }}">Тусламж</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Нэвтрэх</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Бүртгүүлэх</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm-down footer-line">
            {#<img src="{{ asset('recource/shuts-logo.png') }}">#}
            <h6>
                ХОЛБОО БАРИХ
            </h6>
            <ul>
                <li>Утас: 99081774, 75553131</li>
                <li>Email: <a href="mailto:sales@mongolcontent.mn">sales@mongolcontent.mn</a></li>
                <li><a href="#">Ёс зүйн зарчим</a></li>
                <li><a href="#">Сурталчилгаа байршуулах</a></li>
            </ul>

        </div>
        <div class="col-lg-3 col-md-3 hidden-sm-down footer-line">
            <h6>
                ХАЯГ
            </h6>
            <ul>
                <li>Хаяг: Монгол улс, Улаанбаатар хот,</li>
                <li>Чингэлтэй дүүрэг,</li>
                <li>Самбуугийн гудамж 18-1,</li>
                <li> Марс төв</li>
            </ul>

        </div>
        <div class="col-lg-2 col-md-2 hidden-sm-down footer-line">

            <h6>
                СОШИАЛ
            </h6>

            <ul>
                <li>
                    <a style="font-size: 20px" href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i> </a>
                    <a style="font-size: 20px" href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i> </a>
                    <a style="font-size: 20px" href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i> </a>
                    <a style="font-size: 20px" href="https://youtube.com" target="_blank"><i class="fa fa-youtube"></i> </a>    </li>
            </ul>
        </div>
    </div>
</div>
<div class="copy-right hidden-sm-down">
    <div class="container">
        <p class="copy-right-desc">© 2017 Бүрэн эрхтэй хуулиар хамгаалагдсан. Designed By Basic Design, Developed By
            LuxAnadu LLC</p>
    </div>
</div>